singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/.singularity"
    runOptions = '-B /dataB/aux --cleanenv'
}

executor{
    jobName = { "$task.tag" }
    queueSize = 10
    submitRateLimit = '10 min' // submit 10 jobs per minute
}

process {
    cache = true
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    scratch = false
    cpus = 12
    memory = 64.GB
    time = 48.h
    maxForks = 50
    container = 'docker://phelelani/nf-dddafrica:bcftools'
    withName:'run_cram2fastq_BQSR|run_sort_cram' {
        clusterOptions = '--exclusive=user'
    }
}


profiles {
    wits {
        executor.name = 'slurm'
        queue = 'batch'
    }
}

// WORKFLOW VISUALISATION
trace {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec-report/${params.workflow}_trace.txt"
}
timeline {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec-report/${params.workflow}_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec-report/${params.workflow}_report.html"
}
